<ul>
    <% @cart_items.each do |cart_item| %>
        <% item = cart_item.item %>
        <li><%="#{item.name}  :      £ #{item.price}"%> <%= link_to "Remove", cart_item_path(cart_item.id), data: { 'turbo-method' => :delete } %></li> 
    <% end %>
    <p><%="Current total(without any calculated discounts) - £ #{@cart.total} "%></p>
</ul>
<%= link_to "go back", items_path %>
<%= link_to "Continue to checkout", checkout_path(@cart.checkout.id) %>