<div class='form'>
  <%= form_with model: @item do |f| %>
    <div class='mb-3'> <%= f.label :name %> </div>
    <div class='mb-3'> <%= f.text_field :name %> </div>
    <div class='mb-3'> <%= f.label :description %> </div>
    <div class='mb-3'> <%= f.text_field :description %> </div>
    <div class='mb-3'> <%= f.label :price %> </div>
    <div class='mb-3'><%= f.number_field :price, in: 1.00..100.00, step: 0.01 %> </div>
    <div class='mb-3'> <%= f.submit %> </div>
  <% end %>
</div>